# Rust

# Environment files
.env

# Ignore the build output directory
**/target/

# Ignore Cargo's package lock file (optional for libraries)
Cargo.lock

# Ignore backup and temporary files
*.rs.bk
*.swp
*.tmp

